   html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

/* nav  */
nav {
  width: 80%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: uppercase;
  font-family: 'Notable', sans-serif;
  font-size: 15px;
}

.menu-item {
  flex: 1;
}

.menu-left {
  text-align: left;
}

.menu-right {
  text-align: right;
}

.menu-link {
  padding: 0 30px;
}

.hover-this-active {
  text-decoration: none;
  color: #A66FFE;
}

.hover-this {
  text-decoration: none;
  color: black;
}

.hover-this:hover {
  color: #A66FFE;
}

.logo {
  width: 100%;
  height: auto;
}

/* Content - index.html - div Container */
/* home images  */
.home-img {
  overflow: hidden;
  position: relative;
  top: 50% !important;
  left: 50%;
  transform: translate(-50%, 0%);
  width: 90%;
}

.home-me-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* first-name and second-name that is over the image */
.myname {
  position: absolute;
  top: 52%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.myname h1 {
  font-family: 'Notable', sans-serif;
  font-size: 34px;
  text-transform: uppercase;
  margin: 0;
  mix-blend-mode: overlay;
}

.lastName .letter {
  display: inline-block;
  line-height: 1em;
}
.firstName .letter {
  display: inline-block;
  line-height: 1em;
}

/* The Text that is next to the img, explain fast what is do */
.home-text {
  font-family: 'Noto Serif KR', serif;
  padding: 20px;
}

/* The link to the iart Website, index.html */
.link-iart {
  color: #000;
}

.link-iart:hover {
  color: #A66FFE;
}

/*Link to send me a email, index.html*/
.mailto {
  color: #000;
}

.mailto:hover {
  color: #A66FFE;
}

/* about */
/* section-header */
.section-header .section-header-container {
	display: -webkit-;
	display: -ms-flexbox;
	display: flex;
	padding: 12px 0;
	font-size: 16px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.section-title {
  padding-left: 15px;
  font-size: 25px;
}

.section-order {
  padding-right: 15px;
  font-size: 25px;
}

/* This is the about section (about.html) where you getting me know besser*/
.section-about {
  width: 100%;
}

.about__details {
  position: relative;
  padding-top: 6.4814814815vh;
  padding-left: 4.8958333333vw;
  padding-bottom: 4.8958333333vw;
  font-family: 'Noto Serif KR', serif;
}

.about__detail {
 opacity: 1;
 padding: 1px;
 transform: translate(0px, 0%);
}

.imgText {
  width: 100%;
  height: auto;
}

.about__image {
  overflow: hidden;
  position: relative;
  left: 49%;
  transform: translate(-25%, 0%);
  width: 164%;
  padding-top: 20px;
}

.about_me_img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  float: left;

}

.about__text {
  font-family: 'Noto Serif KR', serif;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
}

.introduction {

}

.vison {

}

.private {

}

.pCompany-link {
  color: #000;
}

.pCompany-link:hover {
  color: #A66FFE;
}

.section-skils {
  padding-top: 15.625vw;
}

.ticker {
  width: 100%;
  font-family: 'Notable', sans-serif;
  font-size: 9.8958333333vw;
  text-transform: uppercase;
  line-height: 1em;
  overflow: hidden;
}

.ticker__items {
  display: flex;
  white-space: nowrap;
  align-items: center;
  width: fit-content;
}

.ticker__item {
  animation: MotionScale 20s linear infinite;
}

@keyframes MotionScale {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-200%);
  }
}

.container-skills {
  padding: 25px;
}

.skils__items {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 20px;
  row-gap: 20px;
  grid-column-gap: 20px;
  column-gap: 20px;
  margin-top: 24px;
  overflow: auto;
}

.skill {
  background-color: #8C8C8C;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 12px;
  position: relative;
  overflow: hidden;
  font-family: 'Noto Serif KR', serif;
  color: #fff;
}

.skill__name {
  font-size: 10px;
  position: relative;
  z-index: 1;
  line-height: 1em;
}

.skill__description{
  font-size: 5px;
  margin-top: 12px;
  max-width: 30.4166666667vw;
  position: relative;
  z-index: 1;
}

.skill__certificate {
  font-size: 7px;
  margin-top: 12px;
  max-width: 14.4166666667vw;
  position: relative;
  z-index: 1;
}

.link__certificate {
  color: #fff;
  text-decoration: none;
}

.link__certificate:hover {
  color: #A66FFE;
}

/* Project section (project.html) */
/* This hide the scrollbar on the rigth side*/
::-webkit-scrollbar {
  width: 0;
}

.Boxalles {
  height: 110%;
  width: auto;
}

.navigation-wrapper ul {
  list-style: none;
  position: absolute;
}

.navigation-item {
  display: block;
  user-select: none;
  margin: 50px 0;
}

.navigation-link {
  font-size: 36px;
  text-decoration: none;
  color: #000;
  font-family: 'Notable', sans-serif;
}

.info-link {
  position: relative;
  display: block;
}

.navigation-item .info-link:before {
  width: 0;
  color: #A66FFE;
  overflow: hidden;
  position: absolute;
  content: attr(data-text);
  transition: all 1s cubic-bezier(0.84, 0, 0.08, 0.99);
}

.navigation-item .info-link:hover:before {
  width: 100%;
}

/* This is the Project section we gonna find it out */

.PFEIL {
  width: 100%;
  height: auto;
}

.pfeilBox {
  width: 18%;
  padding-left: 10px;
}

.INFORMATION {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  width: 90%;
  grid-template-columns: 14.11% 27.06% 27.06% 31.77%;
  grid-auto-flow: column;
  padding: 15px;
}

.project__details {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 25px;
}

.project__items {
  grid-column-start: 1;
  grid-column-end: 4;
  font-size: 25px;
}

.project__downlaods {
  display: none;
}

.TITLEVIDEO {
  width: 100%;
  height: auto;
}

.content__title {
  font-size: 70px;
  padding-left: 15px;
  font-family: 'Notable', sans-serif;
  text-transform: uppercase;
}

.content__video {
  width: 100%;
  height: auto;
  text-align: center;
}

.content__Text {
  font-size: 30px;
  padding: 15px;
  text-transform: uppercase;
  width: 100%;
}

.download__link {
  color: #000;
  text-decoration: none;
}

.download__link:hover {
  color: #A66FFE;
}

/* For the coming soon projects site */
.comingSoonBox {
  width: 100%;
  height: auto;
  float: left;
}

.comingSoon-text {
  font-size: 100px;
  color: #000;
  text-transform: uppercase;
  text-align: center;
}

/* This is the footer in the index.html site */
.footer {
  border-top: 2px solid #000;
  margin-top: 33px;
  padding: 33px;
  text-align: center;
}

.footer__content {
  text-align: left;
  position: left;
  text-transform: uppercase;
}

.footer__content::after {
  content: "";
  clear: both;
  display: table;
}

.footer__social {
  display: inline-block;
  vertical-align: middle;
}

.footer_general {
  width: 40px;
  height: auto;
  font-family: 'Notable', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-size: 14px;
}

.footer_general:hover {
  color: #A66FFE;
  }

.footer_text {
  font-family: 'Notable', sans-serif;
  font-size: 15px
  float: right;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* Medium devices (tablets, 768px and up) - Valentin Str채uli*/
@media (min-width: 768px) {
/* nav  */
.menu {
  height: 220px;
}

.menu-right{
  font-size: 25px;
}

.myname {
  top: 76%;
}

.myname h1 {
  font-size: 65px;
}
/* about-container */
.home-text {
  padding: 35px;
  padding-left: 55px;
  }
}

.link{
  display: none;
}

/* about */
/* about */
.about .about-container {
  width: 100%;
}
.about .about-container p {
  font-size: 24px;
}

/* language */
.language .language-container p {
  font-size: 36px;
  line-height: 50px;
  text-align: justify;
}



/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* Large devices (desktops, 992px and up) - Valentin Str채uli*/
@media (min-width: 992px) {
/* nav  */
  .menu {
    height: 345px;
  }

  .menu-right{
    font-size: 35px;
  }

  .logo {
    width: 80%;
  }

  .myname {
    top: 145%;
  }

  .myname h1 {
    font-size: 96px;
  }

/* about-container */
  .home-text{
    padding: 35px;
    font-size: 21px;
    padding-left: 55px;
  }

  .navigation-link {
    font-size: 100px;
  }



/* footer */

.footer_text {
  width: 16%;
  float: right;
}

.footer__social {
  width: calc(100% - 200px);
  padding-top: 30px;
}

.footer_general {
  padding: 10px;
  font-size: 20px;
}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
@media (min-width: 1024px) {
/* nav  */
  .menu {
    height: 345px;
  }

  .menu-right{
    font-size: 35px;
  }

  .logo {
    width: 80%;
  }

  .myname {
    top: 80%;
  }

  .myname h1 {
    font-size: 96px;
  }

/* about-container */
  .home-text{
    padding: 35px;
    font-size: 21px;
    padding-left: 55px;
  }

  .navigation-link {
    font-size: 100px;
  }

/* footer */

.footer_text {
  width: 16%;
  float: right;
}

.footer__social {
  width: calc(100% - 200px);
  padding-top: 30px;
}

.footer_general {
  padding: 10px;
  font-size: 20px;
}
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* X-Large devices (large desktops, 1200px and up) - Valentin Str채uli*/
@media (min-width: 1200px) {
/* NAV */
.menu {
  font-size: 20px;
}

.menu-right{
  font-size: 35px;
}

.logo {
  width: 60%;
}

/* hero img  */
.home-img {
  width: 30%;
  height: 90vh;
}

/* header  */
.myname {
  top: 67%;
}

.myname h1 {
  font-size: 75px;
}

/* About */

.about__image {
  overflow: hidden;
  position: relative;
  left: 49%;
  transform: translate(-50%, 0%);
  width: 90%;
  padding-top: 100px;
}

.skils__items {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-row-gap: 3.28125vw;
  row-gap: 3.28125vw;
  grid-column-gap: 2.2916666667vw;
  column-gap: 2.2916666667vw;
  margin-top: 3.2291666667vw;
  overflow: auto;
}

.skill__name {
  font-size: 1.25vw;
  position: relative;
  z-index: 1;
  line-height: 1em;
}

.skill__description{
  font-size: .625vw;
  margin-top: 12px;
  max-width: 10.4166666667vw;
  position: relative;
  z-index: 1;
}

.skill__certificate {
  font-size: .800vw;
  margin-top: 12px;
  max-width: 10.4166666667vw;
  position: relative;
  z-index: 1;
}

/* about-container */
.home-text {
  float: right;
  text-align: left;
  top: 35%;
  right: 2%;
  position: absolute;
  font-size: 27px;
  width: 30%;
  text-transform: uppercase;
}

/* media queries  */

@media (max-width: 900px) {
  .home-img {
    width: 90%;
  }
  .myname {
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .myname h1 {
    font-size: 40px;
  }

  .projects,
  .img-nav {
    display: none;
  }

  hover-this {
        width: 100%;
        padding: 20px 0;
        display: inline-block;
  }
}

/* Project */

.Boxalles {
  height: 165%;
}

.navigation-item {
  margin: 120px 0;
}

.navigation-link {
  font-size: 100px;
}

.project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}

.project-preview {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 0px;
  height: 400px;
  background: url(img-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 900px) {
  .progressbar,
  .project-preview-wrapper {
    display: none;
  }
}

/* This section is inside the projects so when you klick on it */
.PFEIL {
  width: 100%;
  height: auto;
}

.pfeilBox {
  width: 9%;
  padding-left: 10px;
}

.INFORMATION {
  width: 100%;
  height: auto;
}

.grid {
  display: grid;
  width: 90%;
  grid-template-columns: 14.11% 27.06% 27.06% 31.77%;
  grid-auto-flow: column;
  padding: 15px;
}

.project__details {
  grid-column-start: 1;
  grid-column-end: 3;
  font-size: 15px;
}

.project__items {
  grid-column-start: 3;
  grid-column-end: 3;
  font-size: 15px;
}

.project__downlaods {
  grid-column-start: 4;
  grid-column-end: 4;
  font-size: 15px;
  display: block;
}

.TITLEVIDEO {
  width: 100%;
  height: auto;
}

.content__title {
  font-size: 70px;
  padding-left: 15px;
  font-family: 'Notable', sans-serif;
  text-transform: uppercase;
}

.content__video {
  width: 100%;
  height: auto;
  text-align: center;
}

.content__Text {
  font-size: 15px;
  padding: 15px;
  text-transform: uppercase;
  width: 75%;
}

/* footer */

.footer_text {
  width: 16%;
  float: right;
}

.footer__social {
  width: calc(100% - 500px);
  padding-top: 30px;
}

.footer_general {
  padding: 10px;
  font-size: 20px;
}

/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/*xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx*/
/* X-Large devices (large desktops, 1200px and up) - Valentin Str채uli*/
@media (min-width: 1920px) {
/* NAV */
.menu {
  font-size: 20px;
}

.menu-right{
  font-size: 35px;
}

.logo {
  width: 60%;
}

/* hero img  */
.home-img {
  width: 30%;
  height: 90vh;
}

/* header  */
.myname {
  top: 72%;
}

.myname h1 {
  font-size: 75px;
}

/* about-container */
.home-text {
  float: right;
  text-align: left;
  top: 40%;
  right: 2%;
  position: absolute;
  font-size: 27px;
  width: 30%;
  text-transform: uppercase;
}

/* media queries  */

@media (max-width: 900px) {
  .home-img {
    width: 90%;
  }
  .myname {
    top: 50%;
    left: 50%;
    text-align: center;
  }
  .myname h1 {
    font-size: 40px;
  }

  .projects,
  .img-nav {
    display: none;
  }

  hover-this {
        width: 100%;
        padding: 20px 0;
        display: inline-block;
  }
}

/* Project */

.Boxalles {
  height: 165%;
}

.navigation-item {
  margin: 120px 0;
}

.navigation-link {
  font-size: 100px;
}

.project-preview-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
}

.project-preview {
  position: fixed;
  top: 12%;
  left: 50%;
  width: 0px;
  height: 400px;
  background: url(img-1.jpg) no-repeat 50% 50%;
  background-size: cover;
  overflow: hidden;
}

@media (max-width: 900px) {
  .progressbar,
  .project-preview-wrapper {
    display: none;
  }
}

/* footer */

.footer_text {
  width: 16%;
  float: right;
}

.footer__social {
  width: calc(100% - 500px);
  padding-top: 30px;
}

.footer_general {
  padding: 10px;
  font-size: 20px;
}
